@model List<MiniStop.Models.AdminViewModel>
@{
    Layout = null;
}
<div class="header">
    <h1>Xin chào, </h1>
</div>

<h2>Danh sách người dùng</h2>
<table>
    <thead>
        <tr>
            <th>Usrid</th>
            <th>Login name</th>
        </tr>
    </thead>
</table>

